<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FastAPI</title>
    <link href="{{ url_for('static', path='/css.css') }}" rel="stylesheet">
</head>
<body>
<div id="myDIV" class="header">
  <h2 id="title-app">{{title}}</h2>
  <input type="text" id="myInput" placeholder="Title...">
  <span onclick="newElement()" class="addBtn">Add</span>
</div>

<ul id="myUL">
</ul>
<script src="{{ url_for('static', path='/my.js') }}" ></script>
<script src="{{ url_for('static', path='/scripts.js') }}"></script>


</body>
</html>